<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/ballina']" >Takimet</a>

  
    <ul *ngIf="kyqur()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/antaret']" >Përputhjet <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/listat']" >Lista</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/mesazhet']" >Mesazhet</a>
      </li>
      <!-- <li *ngIf="kyqur()" class="nav-item">
        <a class="nav-link" (click)="qkyqu()">Qkyqu</a>
      </li> -->
    </ul>

    <div *ngIf="kyqur()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Tung {{authService.tokenIDekoduar?.unique_name | titlecase}} !  
      </a>
      <div class="dropdown-menu mt-2" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>  Profili im</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="qkyqu()">
          <i class="fa fa-sign-out"></i> Qkyqu</a>
      </div>
    </div>


    <form *ngIf="!kyqur()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="kyqu()">
      <!-- #perdoruesi="ngModel" -->
      <input class="form-control mr-sm-2" type="text" name="perdoruesi" 
                placeholder="Perdoruesi" required [(ngModel)]="model.perdoruesi" >
<!-- #fjalekalimi=ngModel -->
      <input class="form-control mr-sm-2" type="password" name="fjalekalimi" 
                placeholder="Fjalekalimi" required [(ngModel)]="model.fjalekalimi">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Kyqu</button>
    </form>
  </div>

  
  
</nav>
<!-- <pre>
  Form valid: {{ loginForm.valid }}
  Form Touched: {{ loginForm.touched }}
  Form Dirty: {{ loginForm.dirty }}
  Form Values: {{ loginForm.value | json }}
  perdoruesi Valid: {{ perdoruesi.valid }}
  perdoruesi Touched: {{ perdoruesi.touched }}
  perdoruesi Value: {{ perdoruesi.value }}
  perdoruesi Dirty: {{ perdoruesi.dirty }}
  fjalekalimi Valid: {{ fjalekalimi.valid }}
  fjalekalimi Touched: {{ fjalekalimi.touched }}
  fjalekalimi Value: {{ fjalekalimi.value }}
  fjalekalimi Dirty: {{ fjalekalimi.dirty }}

</pre> -->